﻿<%@ Page Title="" Language="C#" MasterPageFile="~/home.master" AutoEventWireup="true" CodeFile="home_page.aspx.cs" Inherits="home_page" %>

<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="asp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <link type="text/css" rel="stylesheet" href="main.css" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="hold">
        <h1>Computer Science Department</h1>
        <p>Here CS students can get to know all about there department updates and events.</p>
        <h2>Quiz Portal</h2>
        <p>Teachers can upload all the questions they want.</p>
        <p>And the students can answer all of them.<asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
        </asp:ToolkitScriptManager>
        </p></div>
    </asp:Content>

