﻿body {
    background-image: url(images/DSC_7838.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.main{
    width: 80%;
    height: auto;
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 80px #4c4c4c;
}
.head{
    width: 100%;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.nav{
    width: 100%;
    height: 35px;
    background-color: azure;
}
.link{
    display: inline-block;
}
.a{
    height: inherit;
    position: relative;
    top: auto;
    bottom:auto;
    right: auto;
    left: auto;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
}
.a:hover{
    background-color: blue;
}
.content{
    width: 100%;
    height: 580px;
    border: 1px solid black;
}
.content-main{
    height: 100%;
    display: inline-block;
    border: 1px solid black;
}
.content-two{
    width: 100%;
    border: 1px solid black;
    display: block;
}
.tab-end{
    width: 100%;
    height: 25px;
    background-color: azure;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.image{
    width: inherit;
    height:inherit;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.develop{
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;
    margin-right: 5%;
}
.multitext{

}
.text{

}
