﻿body {
    background-image: url(images/_MG_7470.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.main {
    border: 2px inset black;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 80px #4c4c4c;
}
.header {
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.navigation{
    width: 100%;
    height: 35px;
    background-color: azure;
}
.navigation li{
    text-decoration: none;
    display: inline-block;
}
.a{
    height: inherit;
    position: relative;
    top: -17px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
}
.pull-right{
    height: inherit;
    float: right;
    display: inline-block;
}
.pull-left{
    height: inherit;
    float: left;
    display: inline-block;
}
.main_content{
    width: 100%;
    height: 500px;
    display: inline-block;
}
.a:hover{
    background-color: blue;
}
.content {
    background-color: darkgreen;
    opacity: 0.8;
    width: 70%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.tab-end{
    width: 100%;
    height: 25px;
    background-color: azure;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serifL;
    font-style: italic;
    color: #621212;
}
h2 {
    text-align: center;
    font-size: 35px;
    color: #621212;
    font-family: 'Times New Roman', Times, serifL;
    font-style: italic;
}
p {
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.develop{
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;
    margin-right: 5%;
}
.btn-cancel{
    background-color: #000000;
    border-color: #000000;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    float: right;
    color: grey;
    text-align: right;
    
}
.btn-submit{
    margin-top: 30px;
    color: azure;
    background-color: ButtonShadow;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #ffffff;
}
.label{
    margin-top: 30px; 
    display: block; 
    text-align: center; 
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
}
.four-block{
    margin: auto;
    width: 100%;
    height: 100%;
}
.block-left{
    width: 50%;
    height: 100%;
    float: left;
    display: inline;
}
.block-right{
    width: 50%;
    height: 100%;
    float: right;
    display: inline;
}
.block{
    border: 1px solid darkred;
    width: 100%;
    height: 50%;
    display: block;
}