﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="upload_quiz.aspx.cs" Inherits="upload_quiz" %>

<%@ Register Src="~/quizuploadl.ascx" TagPrefix="uc1" TagName="quizuploadl" %>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:quizuploadl runat="server" ID="quizuploadl" />
    </div>
    </form>
</body>
</html>
